    {% extends "website/base.html" %}
    {% block content %}
<br>
    <div id="stripes" aria-hidden="true">
    	<div class="container" id="ctclr">
 		<div class="card">
		<div class='row'>
 		  <div class='col-xs-6'>  
 		  <img src="https://i.ibb.co/mcFd93w/1544679274149.png" class="mainimg" alt="Megrut"  height="600" width="auto" border="0">
  		  </div>
  
  		 <div class='col-xs-6'>
         <h3 class="head" id="heading">Introducing Megrut app for android </h3><br>
         <a href="http://bit.ly/Megrut">  <button  id="upbtn" class="btn info">Download now</button></a>
         </div>
        </div>
        </div>
        </div>
    </div>

<br>
<div class="container">
<div class="well">

<center>
<h2 style="color: #0D2366">Features</h2>
<hr class="hr"><br>


<div class="card">
<img src="https://image.ibb.co/mtNU5f/1.png" alt="map" border="0" width="70" height="70" >
<div class="p">
<h3> Better Design</h3>
<p class="lines"> Fast speed and better UI and UX and that you are going to love </p>
</div></div><br><br><br><br><br>

<div class="card">
<img src="https://image.ibb.co/ntZbkf/2.png" alt="map" border="0" width="70" height="70" >
<div class="p">
<h3> Locations</h3>
<p class="lines"> Easily find location of every mess and canteen, with Google maps support</p>
</div></div><br><br><br><br><br>

<div class="card">
<img src="https://image.ibb.co/nwx7rL/3.png" alt="map" border="0" width="70" height="70" >
<div class="p">
<h3>Notification</h3>
<p class="lines">Get notified when lunch and dinner is updated</p>
</div></div><br><br><br><br><br>

<div class="card">
<img src="https://image.ibb.co/dC2wkf/4.png" alt="map" border="0" width="70" height="70" >
<div class="p">
<h3> Call Support </h3>
<p class="lines">Now you can call mess owners and us whenever you want </p>
</div></div><br><br><br><br><br>


<div class="card">
<img src="https://image.ibb.co/bvSU5f/5.png" alt="map" border="0" width="70" height="70" >
<div class="p">
<h3> Light Weight</h3>
<p class="lines">Don't worry about space, the app is just about 6MB</p>
</div></div><br><br><br><br><br>


<div class="card">
<img src="https://image.ibb.co/dsyDWL/6.png" alt="map" border="0" width="70" height="70" >
<div class="p">
<h3> Price </h3>
<p class="lines">Separate canteen menu of each canteen with list and price of each items </p>
</div></div><br><br><br><br><br>



<div id="grad" class="container-fluid">

<h2  style="color: #0D2366; margin: 15px 10px 10px 10px;font-size:18px; font-weight:600"> Click below to download now</h2>
 <a href="http://bit.ly/Megrut"> <button id="dwnbtn" class="btn info" style="margin:10px 10px 10px 10px"> <span class="glyphicon glyphicon-download-alt"></span>  Download </button> </a>
<hr class="hr">
</div>

</div>
</center>
</div>
</div>
    

    {% endblock %}
