body{
    background-color: #f3f3f3;
  }
  .panel-heading{
    background-color: ;
 
  }
  .panel{
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .panel-body{
    background-color: #fc4q1a;
  }
  
  hr{
    margin: 1px 13px 9px 13px;
  }
  .menulist{
    margin: 0px 0px 0px -23px;
  }
  p {
    margin: 1px 0px 9px 13px;
    font-size: 15px;
    color: #333;
  }
  strong{
    color: #0F2362;
  }
  div.a{
    margin: 1px 0px 9px 13px;
  }
  
  button.btn btn-outline{
    margin: 1px 0px 9px 13px;
  }
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}

.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
} 

.success {
  border-color: #00b26f;
  color: #00b26f
}

.success:hover {
  background: #00b26f;
  color: white;
} 
.button 
  { 
    background-color: #4CAF50;
  }
.navbar {
      background-color: #00b26f !important;
      border: 0;
      font-size: 16px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
.navbar li a, .navbar {
    background-color: #00b26f !important;
    color: #fff !important;
    font-size: 16px !important;
}
.navbar-brand{
    font-family: 'Muli', sans-serif !important;
      color: #fff !important;
      font-size: 21px !important;
}

  
.navbar-nav li a:hover, .navbar-nav li.active a {
      color: #00bf6f !important;
      background-color: #fff !important;
  }
.navbar-default .navbar-toggle {
      border-color: transparent;
      color: #oobf6f !important;
      border: 0;
  }

.glyphicon-ok-circle {
  
}