{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="content-section">
   	  <form method="POST">
   	  	 {% csrf_token %}
   	  	 <fieldset class="form-group">
   	  	 	<legend class="border-bottom mb-4">Upload Post</legend>
   	  	 	{{ form|crispy }}
   	  	 </fieldset>
   	  	 <div class="form-group">
   	  	 	<button class="btn btn-outline-info" type="submit">Post</button>
   	  	 </div>
   	  </form>
   <script>
    $(function() {
        $.ajax({
            url: '{% url 'autocomplete' %}'
            }).done(function (data) {
                $('#autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
   </script>
   <a href="{% url 'autocomplete' %}"> {{ post.author.username }}</a>
   </div>
{% endblock content %}