{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!---        <div class="container">
              <div class="panel panel-outline">      
                 
                     <img src="https://i.ibb.co/fpQYjb8/republic-day-banner.gif" alt="" width="100%" border="0">
                 
              </div>
        </div> --->
        <div class="container">
              <div class="panel panel-outline">      
                 
                     <img id="ff-launch-popup" src="https://i.ibb.co/xGCVmsF/last-day.gif" alt="" width="100%" border="0">
                 
              </div>
        </div>
<script async defer src="https://formfacade.com/include/101261124311828403218/form/1FAIpQLSdF4gSiuacZhxyAuhsm7DRhXviHaoTp-yuANnM3cDOe9HfVsg/popup.js?onclick=ff-launch-popup"></script>


{% if form %}
          <div class="panel-heading">
               <form method="POST">
               {% csrf_token %}
               <fieldset>
               {{ form|crispy }}
               </fieldset>
               <button class="btn info btn-default" type="submit">ADD MENU</button>
               </form>
          </div><br><hr><br>
{% endif %}

{% if mform %}
<div class="container">
          <div class="panel panel-outline">
                 <div class="panel-heading">
                 <strong><span class="label label-primary">NEW</span> </strong>Share your feedback/experience with reastaurnt owner (So they can improve)
                 </div>
                  
            <div class="panel-heading">
                 <form method="POST">
                 {% csrf_token %}
                 <fieldset>
                 {{ mform|crispy }}
                 </fieldset>
                 <button class="btn info btn-default" type="submit">SEND MESSAGE</button>
                 </form>
            </div>
        </div>

<!--- <div class="panel panel-outline">
                 <div class="panel-heading">
                  <strong><span class="label label-primary">NEW</span> </strong>Use <button type="button" class="btn info btn-default btn-sm" ><span class="glyphicon glyphicon-pushpin"></span></button> to pin your favourite restaurant at top 
                 </div>
</div> -->
</div>

{% endif %}

<!--- 
<div class="panel-heading">
  <div class="alert alert-warning">
    <b>New Update is available, <a href="intent://https://play.google.com/store/apps/details?id=com.team_gilool.GiloolAPPCOPYSCREENS&hl=en_IN#Intent;scheme=http;package=com.android.chrome;end">Click here</a> </b>
    <br> Please update the app for a smooth experience.  <small><br>Ignore, if your have already updated.</small>
    <a href="geo:22.319236, 73.180595?q=Sculpture+making">geo: Example - 101 Main St</a>

<a href="intent://docs.google.com/forms/d/e/1FAIpQLScf83n172OhYfUJFCD75U-HT4U2vdyg3tm16fMCNjvDnOSlZA/viewform#Intent;scheme=http;package=com.android.chrome;end">chrome</a>
<a href="intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;end"> Take a QR code </a>
<a href="geo:22.319236, 73.180595?q=Sculpture+making">geo: Example - 101 Main St</a>
<a href="intent://docs.google.com/forms/d/e/1FAIpQLScf83n172OhYfUJFCD75U-HT4U2vdyg3tm16fMCNjvDnOSlZA/viewform#Intent;scheme=http;package=com.android.chrome;end">chrome</a>
<a href="whatsapp://send?text=Hello%20World!">whatsapp: Example - WhatsApp Message</a>
  </div>
 
</div>
<div class="container">
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="panel-body">
          <center><strong>Welcome to the new update. Thanks for updating the app.</strong></center>
          </div>
        </div>
</div>-->

{% if pinlist|length > 0 %}

<div class="container hr-sect">MY WATCHLIST</div><br>


    {% for post in pinlist %}
    {% if post.active is True %}
    <div class="container">

          <div class="panel panel-outline">
          <div class="panel-heading">
          <span class="text-left"> <dt><strong>{{ post.author.profile.mess_name }}</strong><small> ({{post.author.profile.area}})</small></dt>

          <dd><small>Updated : {{ post.date_posted|timesince }} ago</small></dd></span>
          </div><hr>
          <div class="panle-body">
            {% if post.author.profile.close == False %}
                {% if session == post.session %}
                {% with menu=post.menu %}  
  <!--   {% if post.image%}
      <div>
          <img src="{{ post.image.url }}" alt="Lights" width="100%" style="padding: 0% 4% 3%;">
    </div>
    {% endif %}-->
                       <ul style="list-style-type:None;">
                       <b><li class="menulist">{% filter force_escape|upper|linebreaksbr %}{{ menu }}{% endfilter %}</li></b>
                      </ul>

                {% endwith %}
                       
                       <div class="a"> 
                      <!--  <button type="button" class="btn success btn-default btn-sm">
                       <span class="glyphicon glyphicon-thumbs-up"></span>
                      </button>-->
                       <a href="{{ post.author.profile.location }}" target="_blank" >
                       <button  type="button" class="btn btn-default success btn-sm"> 
                       <span class="glyphicon glyphicon-map-marker"></span></button>
                       </a>
                       <button type="button" class="btn success btn-default  btn-sm">{{ post.price }}</button> 
                       <a href="tel:{{ post.author.profile.number }}">
                       <button  type="button" class="btn success btn-default btn-sm">
                       <span class="glyphicon glyphicon-earphone"></span></button>
                       </a>
                       <a style="float: right; padding-right: 10px;"  href="{% url 'unpin' post.author %}">
                       <button type="button" class="btn danger btn-default btn-sm" >
                       <span class="glyphicon glyphicon-remove-sign"></span>
                       </button>
                       </a>

                       </div>

                  {% else %}
                  <div class="a">
                       <a href="tel:{{ post.author.profile.number }}">
                       <button onclick='FB.AppEvents.logEvent("ReqMenuBtnClicked")' type="button" class="btn info btn-default btn-sm">
                       <span class="glyphicon glyphicon-send"> REQUEST MENU </span></button>
                       </a>

                       <a style="float: right; padding-right: 10px;"  href="{% url 'unpin' post.author %}">
                       <button type="button" class="btn danger btn-default btn-sm" >
                       <span class="glyphicon glyphicon-remove-sign"></span>
                       </button>
                       </a>
                  </div>
                  {% endif %}

              {% else %}
                   <div class="a"> <!-- buttons start here -->
                   <button type="button" class="btn danger btn-default btn-sm">
                   <span class="glyphicon glyphicon-remove-sign"> CLOSED</span>
                   </button>

                       <a style="float: right; padding-right: 10px;"  href="{% url 'unpin' post.author %}">
                       <button type="button" class="btn danger btn-default btn-sm" >
                       <span class="glyphicon glyphicon-remove-sign"></span>
                       </button>
                       </a>

                   </div>            
              {% endif %}
          </div>
          </div>
     </div>


    {% endif %}
    {% endfor %}

{% endif %}


{% if posts %}
<br>
<div class="container hr-sect">{% filter force_escape|upper|linebreaksbr %}{{ session }}{% endfilter %} MENU</div><br>

{% for post in posts %}
 
    <div class="container">

          <div class="panel panel-outline">
          <div class="panel-heading">
          <span class="text-left"> <dt><strong>{{ post.author.profile.mess_name }}</strong><small> ({{post.author.profile.area}})</small></dt>

          <dd><small>Updated : {{ post.date_posted|timesince }} ago</small></dd></span>
          </div><hr>
          <div class="panle-body">
            {% if post.author.profile.close == False %}
                {% with menu=post.menu %}  
  <!--   {% if post.image%}
      <div>
          <img src="{{ post.image.url }}" alt="Lights" width="100%" style="padding: 0% 4% 3%;">
    </div>
    {% endif %}-->
                       <ul style="list-style-type:None;">
                       <b><li class="menulist">{% filter force_escape|upper|linebreaksbr %}{{ menu }}{% endfilter %}</li></b>
                      </ul>

                {% endwith %}
                       
                       <div class="a"> 
                      <!--  <button type="button" class="btn success btn-default btn-sm">
                       <span class="glyphicon glyphicon-thumbs-up"></span>
                      </button>-->
                       <a href="{{ post.author.profile.location }}" target="_blank" >
                       <button  type="button" class="btn btn-default success btn-sm"> 
                       <span class="glyphicon glyphicon-map-marker"></span></button>
                       </a>
                       <button type="button" class="btn success btn-default  btn-sm">{{ post.price }}</button> 
                       <a href="tel:{{ post.author.profile.number }}">
                       <button  type="button" class="btn success btn-default btn-sm">
                       <span class="glyphicon glyphicon-earphone"></span></button>
                       </a>

                       <a style="float: right; padding-right: 10px;" href="{% url 'pin' post.author %}">
                       <button type="button" class="btn info btn-default btn-sm" >
                       <span class="glyphicon glyphicon-pushpin"></span>
                       </button>
                       </a>   

                       </div>

            {% else %}
                   <div class="a"> <!-- buttons start here -->
                   <button type="button" class="btn danger btn-default btn-sm">
                   <span class="glyphicon glyphicon-remove-sign"> CLOSED</span>
                   </button>

                       <a style="float: right; padding-right: 10px;" href="{% url 'pin' post.author %}">
                       <button type="button" class="btn info btn-default btn-sm" >
                       <span class="glyphicon glyphicon-pushpin"></span>
                       </button>
                       </a>  

                   </div>            
            {% endif %}
          </div>
          </div>
     </div>


{% endfor %}
{% endif %}


<br>
<div class="container hr-sect">ALL RESTAURANTS</div><br>

{% for post in allposts %}

    <div class="container">

          <div class="panel panel-outline">
          <div class="panel-heading">
          <span class="text-left"> <dt><strong>{{ post.author.profile.mess_name }}</strong><small> ({{post.author.profile.area}})</small></dt>

          <dd><small>Updated : {{ post.date_posted|timesince }} ago</small></dd></span>
          </div><hr>
          <div class="panle-body">

            {% if post.author.profile.close == False %}
                  <div class="a">
                       <a href="tel:{{ post.author.profile.number }}">
                       <button onclick='FB.AppEvents.logEvent("ReqMenuBtnClicked")'  type="button" class="btn info btn-default btn-sm">
                       <span class="glyphicon glyphicon-send"> REQUEST MENU </span></button>
                       </a>

                       <a style="float: right; padding-right: 10px;" href="{% url 'pin' post.author %}">
                       <button type="button" class="btn info btn-default btn-sm" >
                       <span class="glyphicon glyphicon-pushpin"></span>
                       </button>
                       </a>  

                  </div>

              {% else %}
                   <div class="a"> <!-- buttons start here -->
                   <button type="button" class="btn danger btn-default btn-sm">
                   <span class="glyphicon glyphicon-remove-sign"> CLOSED</span>
                   </button>

                       <a style="float: right; padding-right: 10px;" href="{% url 'pin' post.author %}">
                       <button type="button" class="btn info btn-default btn-sm" >
                       <span class="glyphicon glyphicon-pushpin"></span>
                       </button>
                       </a>  

                   </div>            
              {% endif %}
          </div>
          </div>
     </div>


  {% endfor %}


<!---
<div class="container">

                <div class="panel panel-outline">
                <div class="panel-heading">
                       <button  type="button" class="btn success btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                       <span class="glyphicon glyphicon-send"> CHANGE DEFAULT CITY </span></button>
                </div>
                </div> 

                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SELECT CITY</h4>
                      </div>

                      <div class="modal-body">

                        <a href="{% url 'set_city' 'VADODARA' %}">
                        <button type="button" class="btn info btn-default btn-sm" >
                        <span class="glyphicon glyphicon-ok-circle"> VADODARA</span>
                        </button>
                        </a><br><br>

                        <a href="{% url 'set_city' 'AHEMDAVAD' %}">
                        <button type="button" class="btn info btn-default btn-sm" >
                        <span class="glyphicon glyphicon-ok-circle"> AHEMDAVAD</span>
                        </button>
                        </a><br><br>

                        <a href="{% url 'set_city' 'VIDHYANAGAR' %}">
                        <button type="button" class="btn info btn-default btn-sm" >
                        <span class="glyphicon glyphicon-ok-circle"> VIDHYANAGAR</span>
                        </button>
                        </a><br><br>

                       </div>

                       <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                    
                  </div>
                </div>
</div>-->


{% endblock content %}

