{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    {% if post.active is True%}
          <div class="panel panel-outline">
          <div class="panel-heading">
          <span class="text-left"> <dt><strong><a href="{% url 'mess_profile' post.author.username %}"> {{ post.author.username }}</a></strong></dt>
          <dd><small>Mess owner last seen : {{ post.date_posted | date:"F d, Y" }}</small></dd></span>
          </div><hr>

          <div class="panle-body">
                 <ul style="list-style-type:None;">
                 <li class="menulist">{{ post.menu }}</li>
                 </ul>
                 <div class="a"> <!-- buttons start here -->
                 <button type="button" class="btn success btn-default btn-sm">Visiting</button>
                 <a href="{{ post.author.profile.location }}" target="_blank" >
                 <button  type="button" class="btn btn-default success btn-sm"> 
                 <span class="glyphicon glyphicon-map-marker"></span> Map</button>
                 </a>
                 <button type="button" class="btn success btn-default  btn-sm">₹ {{ post.price }}/person</button> 
                 <a href="tel:{{ post.author.profile.number }}">
                 <button  type="button" class="btn success btn-default btn-sm">
                 <span class="glyphicon glyphicon-earphone"></span>  Call</button>
                 </a>
                 </div>
          </div>
          </div>
    {% endif %}
    {% endfor %}
{% endblock content %}