{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="container">
        <dt style="font-size: 25px;">
          <strong>
               {{ user.username }} 
               {% if user.profile.close == True %}
               <span class="glyphicon glyphicon-remove-sign" style="color: #f44336;"></span>
               {% else %}
               <span class="glyphicon glyphicon-ok-circle" style="color: #00b26f;"></span>
               {% endif %}

               {% if user.profile.close == False %}
               <a style="float: right; padding-right: 10px;" href="{% url 'close_mess' user.username %}">
               <button  type="button" class="btn btn-default danger btn-sm">Close Mess</button>
               </a>
               {% else %}
               <a style="float: right; padding-right: 10px;" href="{% url 'open_mess' user.username %}">
               <button  type="button" class="btn btn-default info btn-sm">Open mess</button>
               </a>
               {% endif %}

            </strong>
          </dt>
        </div>
      </div></br><hr><br>
 

    {% for post in active_post %}
          {% if post.author.profile.close == False %}
          <div class="panel panel-outline" style="border-color: #00b26f;">
          <div class="panel-heading">
          <span class="text-left"> <dt><strong> {{ post.menu }} <span class="label label-success">Live menu</span> </strong></dt>
          </div><hr>
          <div class="panle-body">
                 <div class="a"> <!-- buttons start here -->

                 <a href="{% url 'post-update' post.id %}">
                 <button  type="button" class="btn btn-default success btn-sm"> 
                 <span class="glyphicon glyphicon-pencil"></span></button>
                 </a>

                 <a href="#">
                 <button  type="button" class="btn btn-default info btn-sm">
                 <span class="glyphicon glyphicon-share"></span></button>
                 </a>

                 <a style="float: right; padding-right: 10px;" href="#">
                 <button class="btn btn-default btn-sm disabled">
                 <span class="glyphicon glyphicon-trash"></span></button>
                 </a>
                 </div>
          </div>
          </div>
          {% else %}
                <div class="panel panel-outline" style="border-color: #00b26f;">
                <div class="panel-heading">
                <a href="{% url 'open_mess' user.username %}">
                <button type="button" class="btn danger btn-default btn-sm" >
                <span class="glyphicon glyphicon-remove-sign"> MESS IS CLOSED</span>
                </button>
                </a>
                </div>
                </div>           
          {% endif %}<br><hr>
    {% endfor %}

    {% if form %}
              <div class="panel panel-outline">
              <div class="panel-heading">
                   <form method="POST">
                   {% csrf_token %}
                   <fieldset>
                   {{ form|crispy }}
                   </fieldset>
                   <button class="btn info btn-default" type="submit">ADD MENU</button>
                   </form>  
              </div>
              </div>
    {% endif %} 

    {% for post in posts %}
          <div class="panel panel-outline">
          <div class="panel-heading">
          <span class="text-left"> <dt><strong> {{ post.menu }}</strong></dt>
          </div><hr>
          <div class="panle-body">
                 <div class="a"> <!-- buttons start here -->

                 <a href="{% url 'post-update' post.id %}">
                 <button  type="button" class="btn btn-default success btn-sm"> 
                 <span class="glyphicon glyphicon-pencil"></span></button>
                 </a>

                 <a href="{% url 'activate' post.id %}" >
                 <button  type="button" class="btn btn-default info btn-sm"> 
                 <span class="glyphicon glyphicon-send"></span></button>
                 </a>

                 <a style="float: right; padding-right: 10px;" href="{% url 'post-delete' post.id %}">
                 <button  type="button" class="btn btn-default danger btn-sm">
                 <span class="glyphicon glyphicon-trash"></span></button>
                 </a>

                 </div>
          </div>
          </div>
    {% endfor %}

 

</div>   
{% endblock content %}
