{% extends "blog/base.html" %}
{% block content %}

        <div class="container">
              <div class="panel panel-outline">      
                 <a href="#"> 
                     <img src="https://i.ibb.co/PxXvRnK/undraw-updates-et2k.png" alt="img" width="100%" border="0">
                 </a><br>
                 <center><strong>New update is available</strong></center>
                 <center><strong>Kindly update the app to latest</strong></center>
              </div>
        <center><strong>How to update ?</strong></center><br>
        <div class="panel panel-default">
          <div class="panel-heading">Step 1: Open explore tab and click update now.</div>
          <div class="panel-body">
            <img src="https://i.ibb.co/PxXvRnK/undraw-updates-et2k.png" alt="img" width="100%" border="0">
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Step 2: Click update button.</div>
          <div class="panel-body">
            <img src="https://i.ibb.co/PxXvRnK/undraw-updates-et2k.png" alt="img" width="100%" border="0">
          </div>
        </div>
        </div>

{% endblock content %}