{% extends "blog/base.html" %}
{% block content %}
<!--
<div class="panel-heading">
  <div class="alert alert-warning">
    <b>New Update is available ,</b><br> Please update the app for a smooth experience.  <small><br>Ignore, if your have already updated.</small>
  </div>
</div> -->
        <div class="container">
           <div class="panel panel-outline">
             <div class="panel-heading">
                   <a href="tel:7046717674">
                   <h3><span class="glyphicon glyphicon-earphone"><strong> CALL US NOW</strong></span></h3>
                   </a>
             </div>
            </div>
        </div>
        
        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://www.amazon.in?&_encoding=UTF8&tag=virajssolanki-21&linkCode=ur2&linkId=a9292e820522740e68e7f58b18fb7ebb&camp=3638&creative=24630">
                     <img src="https://i.ibb.co/bPR2vGC/1000x500.jpg" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>



        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://www.amazon.in/b/ref=cepc_elec_JupW1_rec1_elec?ie=UTF8&amp;node=976419031&amp;pf_rd_p=20e125b0-557d-4e47-a383-eff6757ab43f&amp;pf_rd_r=SGPXAKZZ029JPPBJ91DB&_encoding=UTF8&tag=virajssolanki-21&linkCode=ur2&linkId=b42ead39ba9126796c0a6a4f35d073bc&camp=3638&creative=24630">
                     <img src="https://i.ibb.co/8Kt8pSz/1080x540.jpg" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://www.amazon.in/b?node=1389401031&amp;pf_rd_p=f4ffa9ba-ac1d-4db9-ae07-411c86c406c7&amp;pf_rd_r=SGPXAKZZ029JPPBJ91DB&_encoding=UTF8&tag=virajssolanki-21&linkCode=ur2&linkId=df053f4422ebe269e8c68a419211b999&camp=3638&creative=24630">
                     <img src="https://i.ibb.co/h1KrZgR/1000x500.jpg" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://www.amazon.in/b?node=6648217031&amp;pf_rd_p=3a620930-4169-4404-a4c4-b53dc1e6167f&amp;pf_rd_r=SGPXAKZZ029JPPBJ91DB&_encoding=UTF8&tag=virajssolanki-21&linkCode=ur2&linkId=9c1151a51e7f4760e4380e0ef9e5889b&camp=3638&creative=24630">
                     <img src="https://i.ibb.co/4JHpbM1/1080x438.jpg" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://www.flipkart.com/?affid=virazssol">
                     <img src="https://i.ibb.co/B29LdzL/new-generic-banner.jpg" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>
   


        <div class="panel-heading">

          <h5>
            <b>To add new MESS/RESTAURANT
            <a href="https://forms.gle/srBkv59pvmZivXEu7"> click here</a></b>
          </h5>

          <h5>
            <b>To share your feedback/idea 
            <a href="https://forms.gle/zWPaj5r9mupThycH6"> click here</a></b>
          </h5>
          <h5>
            <b>To do any collaboration with us
            <a href="https://api.whatsapp.com/send?phone=917046717674&text=I%20want%20to%20collaborate%20with%20Megrut%20app"> click here</a></b>
          </h5>

        </div>

<!---
        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://forms.gle/J6Jg8SuqH6sY7T3A6"> 
                     <img src="https://i.ibb.co/WGLshgB/gi-30.png" alt="Happy-Friendship-day-MSU-Hostelites" width="100%" border="0">
                 </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">
                <a href="https://forms.gle/YonE1XcrUPHqNLS17">
                  <img width="100%" src="https://media.giphy.com/media/kD6WBmoFt0VtQfYCUP/giphy.gif">
                </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">
             
                <a href="{% url 'feedback_join' %}">
                  <img width="100%" src="https://i.ibb.co/1Jc3VRM/See-beyond-the-spectrum-1.png">
                </a>
          
              </div>
        </div>
-->
{% endblock content %}