{% extends "blog/base.html" %}
{% block content %}
        <div class="container">
           <div class="panel panel-outline">
             <div class="panel-heading">
                   <a href="tel:7046717674">
                   <h3><span class="glyphicon glyphicon-earphone"><strong> CALL US NOW</strong></span></h3>
                   </a>
             </div>
            </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">
                
         <a href="https://forms.gle/J6Jg8SuqH6sY7T3A6"> 
          <img src="https://i.ibb.co/WGLshgB/gi-30.png" alt="Happy-Friendship-day-MSU-Hostelites" width="100%" border="0">
         </a>

              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">
              <div class="panel-heading">
                <a href="{% url 'feedback_res' %}">
                  <img width="100%" src="https://media.giphy.com/media/kD6WBmoFt0VtQfYCUP/giphy.gif">
                </a>
              </div>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">
             
                <a href="{% url 'feedback_join' %}">
                  <img width="100%" src="https://i.ibb.co/1Jc3VRM/See-beyond-the-spectrum-1.png">
                </a>
          
              </div>
        </div>

{% endblock content %}