{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form %}
<!--    <div class="panel-heading">
              <h4><strong>
                Section Under Development.
              </strong>
              </h4>
    </div>

<div class="panel-heading">
  <div class="alert alert-warning">
    <b>New Update is available ,</b><br> Please update the app for a smooth experience. . <small><br>Ignore, if your have already updated.</small>
  </div>
</div>  -->

<!--
              <div class="panel panel-outline">
              <div class="panel-heading">
                   <form method="POST">
                   {% csrf_token %}
                   <fieldset>
                   {{ form|crispy }}
                   </fieldset>
                   <button class="btn info btn-default" type="submit">COUNT ME IN</button>
                   </form>
              </div>
              </div> -->

          <div class="panel-heading">
          
          <h5>
            <b>To add new MESS/RESTAURANT
            <a href="https://forms.gle/srBkv59pvmZivXEu7"> click here</a></b>
          </h5>

          <h5>
            <b>To share your feedback/idea 
            <a href="https://forms.gle/zWPaj5r9mupThycH6"> click here</a></b>
          </h5>

          <h5>
            <b>To do any collaboration with us
            <a href="https://api.whatsapp.com/send?phone=917046717674&text=I%20want%20to%20collaborate%20with%20Megrut%20app"> click here</a></b>
          </h5>

          <h5>
            <b>To share megrut to your friend
            <a href="https://api.whatsapp.com/send?text=Hey!%20Now%20you%20can%20check%20menu%20of%20Campus%20Mess%20and%20Restaurants%20on%20*Megrut%20App*.%20Download%20app%20now%20http://bit.ly/Megrut"> Click here</a></b>
          </h5>

        </div>

        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://api.whatsapp.com/send?text=Hey!%20Now%20you%20can%20check%20menu%20of%20Campus%20Mess%20and%20Restaurants%20on%20*Megrut%20App*.%20Download%20app%20now%20http://bit.ly/Megrut"> 
                     <img src="https://i.ibb.co/MpLypNp/gi-3.png" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://forms.gle/J6Jg8SuqH6sY7T3A6"> 
                     <img src="https://i.ibb.co/WGLshgB/gi-30.png" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>
        
        <div class="container">
              <div class="panel panel-outline">      
                 <a href="https://openchat.appspot.com"> 
                     <img src="https://i.ibb.co/PN3R99v/gi-2.png" alt="" width="100%" border="0">
                 </a>
              </div>
        </div>

        <div class="container">
              <div class="panel panel-outline">      
<iframe width="100%" height="315" src="https://www.youtube.com/embed/pWxW9Ms6RPY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <h5>
            <b>  <p>Open in Youtube
            <a href="https://www.youtube.com/channel/UCGQQZ33_IH036Evcfz1FC-Q/videos"> click here</a></p> </b>
          </h5>
              </div>
        </div>

    {% endif %} 
{% endblock content %}