{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form %}
        <div class="container">
              <h5><strong>
                We are staring food delivery service soon.<br>
                Wanna try BETA version ?
              </strong>
              </h5>

              <div class="panel panel-outline">
              <div class="panel-heading">
                   <form method="POST">
                   {% csrf_token %}
                   <fieldset>
                   {{ form|crispy }}
                   </fieldset>
                   <button class="btn info btn-default" type="submit">COUNT ME IN</button>
                   </form>
              </div>
              </div>
        </div>
    {% else %}
        <div class="container">
              <div class="panel panel-outline">
              <div class="panel-heading">
                <h2>Under development</h2>
              </div>
              </div>
        </div>
    {% endif %} 
{% endblock content %}