{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form %}
        <div class="container">
             <!-- <h5><strong>
                We are staring food delivery service soon.<br>
                Wanna try BETA version ?
              </strong>
              </h5>

              <div class="panel panel-outline">
              <div class="panel-heading">
                   <form method="POST">
                   {% csrf_token %}
                   <fieldset>
                   {{ form|crispy }}
                   </fieldset>
                   <button class="btn info btn-default" type="submit">COUNT ME IN</button>
                   </form>
              </div>
              </div> -->

    
         <a href="https://forms.gle/J6Jg8SuqH6sY7T3A6"> 
          <img src="https://i.ibb.co/WGLshgB/gi-30.png" alt="Happy-Friendship-day-MSU-Hostelites" width="100%" border="0">
         </a>
        

    {% endif %} 
{% endblock content %}